/* Homepage styles */
.homepage {
  background-image: url("/public/background.jpg");
  min-height: 70vh;
}

/* Web top styles */
.web-top {
  background-color: rgb(33, 161, 57);
  height: 50px;
  margin-top: 20px;
  padding: 0;
  font-size: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px rgb(112, 112, 109);
  font-family: Arial, Helvetica, sans-serif;
}