.search {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
  }
  
  .search .inputbox {
    width: 400px;
    padding: 6px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .search .searchbtn {
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 50px;
    border: 1px solid black;
    background-color: green;
    box-shadow: 2px 3px 10px black;
  }
  